@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300|Raleway:100,200,300);
@import url('menu.css');
@import url('layout.css');
@import url('typo.css');
@import url('tiles.css');
@import url('print.css');

*, *:before, *:after, #s_bar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

a, a:hover, a:before, a:hover:before, a:after, a:hover:after, .igc img, .igd, .igd:before {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

    a, a:hover, a:before, a:hover:before {
        text-decoration: none;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

div.trigon, div.trigon:before, .mnorm, .mact, .mnorm:after, .mact:after, #s_bar, #sb1:after, #sb2, #sb2:after, #sb3:after, #sb4, input {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

    div.u_arrow, div.l_arrow, a.trilink, a.trilink div.trigon:before, a.trilink:hover div.trigon, .mnorm, .mact, .mnorm:after, .mact:after, #sb2:after {
        -webkit-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

@media screen {
    body {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        font-family: Raleway, sans-serif;
    }

    html {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
    }

    #scroll_tipp {
        display: inline-block;
        width: 4rem;
        height: 1rem;
        position: relative;
        margin-left: 4rem;
    }

        #scroll_tipp:before {
            content: '';
            position: absolute;
            top: 50%;
            top: calc(50% - 1px);
            left: 0%;
            width: 100%;
            height: 2px;
        }

        #scroll_tipp:after {
            content: '';
            position: absolute;
            top: 50%;
            top: calc(50% - 0.7rem);
            right: 0.175rem;
            height: 1.4rem;
            width: 1.4rem;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            border: 2px solid;
            border-left: none;
            border-bottom: none;
        }

    #navi {
        position: fixed;
        top: 0%;
        min-width: 300px;
        height: 100%;
        z-index: 5;
    }

    nav.idle {
        left: -200px;
        padding-top: 100px;
        -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
        
    }

    nav.active {
        left: 0px;
        padding-top: 100px;
        -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    }

    #navi > a {
        display: block;
        padding-left: 30px;
        text-decoration: none;
        text-align: left;
        font-size: 1.2rem;
        line-height: 70px;
        font-weight: 300;
    }
    nav.idle > a {
        margin-left: -200px;
        width: calc(100% + 200px);
        -webkit-transition: all 0.3s ease, margin 0s 0.3s ease, width 0 0.3s ease;
    -moz-transition: all 0.3s ease, margin 0s 0.3s ease, width 0 0.3s ease;
    -o-transition: all 0.3s ease, margin 0s 0.3s ease, width 0 0.3s ease;
    transition: all 0.3s ease, margin 0s 0.3s ease, width 0 0.3s ease;
    }
    nav.active > a {
        margin-left: 0px;
        width: 100%;
        -webkit-transition: all 0.3s ease, margin 0.3s 0.3s ease, width 0.3s 0.3s ease;
    -moz-transition: all 0.3s ease, margin 0.3s 0.3s ease, width 0.3s 0.3s ease;
    -o-transition: all 0.3s ease, margin 0.3s 0.3s ease, width 0.3s 0.3s ease;
    transition: all 0.3s ease, margin 0.3s 0.3s ease, width 0.3s 0.3s ease;
    }
        nav.active > a:nth-of-type(1) {
            transition-delay: 0s, 0.1s;
        }
        nav.active > a:nth-of-type(2) {
            transition-delay: 0s, 0.2s;
        }
        nav.active > a:nth-of-type(3) {
            transition-delay: 0s, 0.3s;
        }
        nav.active > a:nth-of-type(4) {
            transition-delay: 0s, 0.4s;
        }
        nav.active > a:nth-of-type(5) {
            transition-delay: 0s, 0.5s;
        }
        nav.active > a:nth-of-type(6) {
            transition-delay: 0s, 0.6s;
        }
        nav.active > a:nth-of-type(7) {
            transition-delay: 0s, 0.7s;
        }
        nav.active > a:nth-of-type(8) {
            transition-delay: 0s, 0.8s;
        }

    #navi > a > img {
        position: absolute;
        right: 35px;
        height: 30px;
        -webkit-transform: translate(0px, 20px);
        -moz-transform: translate(0px, 20px);
        -o-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
        transform: translate(0px, 20px);
    }

        

        #navi > a:hover {
            color: #eee;
            background-color: #222;
        }

        #navi > a:before {
            display: inline-block;
            position: relative;
            top: -1px;
            margin-right: 5px;
            margin-left: 5px;
            width: 10px;
            height: 10px;
            content: '';
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            border: 2px solid;
            border-bottom: none;
            border-left: none;
        }

        #navi > a:hover:before {
            margin-right: 10px;
        }



    #menu {
        position: fixed;
        top: 25px;
        left: 25px;
        width: 250px;
        height: 50px;
        z-index: 15;
    }

    #m_button {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 50px;
        height: 100%;
        overflow: hidden;
    }

    #search {
        position: fixed;
        top: 25px;
        right: 50px;
        height: 50px;
        font-size: 0em;
        vertical-align: top;
    }

    #s_button {
        display: inline-block;
        height: 50px;
        width: 50px;
        position: relative;
        overflow: hidden;
    }

    #s_bar {
        display: inline-block;
        vertical-align: top;
        height: 50px;
        font-size: 1.2rem;
        line-height: 1.8rem;
        position: relative;
        padding: calc(25px - 0.9rem);
        padding-left: 0px;
        padding-right: 0px;
        font-family: Raleway, sans-serif;
        font-weight: 300;
        overflow: hidden;
    }

    #s_underline {
        content: '';
        position: absolute;
        bottom: 0.3rem;
        left: 5%;
        width: 90%;
        height: 2px;
    }

    #s_input {
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: 300;
        height: 1.8rem;
    }

    .s_idle input {
        width: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .s_active input {
        width: 300px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    input:focus {
        width: 350px;
        padding-left: 1rem;
        padding-right: 1rem;
    }



    #logo {
        position: absolute;
        top: 0%;
        left: 100px;
        height: 100%;
        min-width: 100px;
    }
}

@media screen and (min-width: 2500px) {
    .cont_block p, .cont_p p {
        display: block;
        margin: 6px;
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-left: auto;
        margin-right: auto;
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        -webkit-column-span: all;
        column-span: all;
        -webkit-column-gap: 1em;
        -moz-column-gap: 1em;
        column-gap: 1em;
        -moz-column-fill: balance;
        column-fill: balance;
    }
}

@media screen and (min-width: 4000px) {
    .cont_block p, .cont_p p {
        display: block;
        margin: 6px;
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-left: auto;
        margin-right: auto;
        -webkit-columns: 3;
        -moz-columns: 3;
        columns: 3;
        -webkit-column-span: all;
        column-span: all;
        -webkit-column-gap: 1em;
        -moz-column-gap: 1em;
        column-gap: 1em;
        -moz-column-fill: balance;
        column-fill: balance;
    }
}
