/*______________________________________________________________________________*/
#sb1 {
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-transform: rotate(0deg) translate3d(10px, 10px, 0px);
    -moz-transform: rotate(0deg) translate3d(10px, 10px, 0px);
    -o-transform: rotate(0deg) translate3d(10px, 10px, 0px);
    -ms-transform: rotate(0deg) translate3d(10px, 10px, 0px);
    transform: rotate(0deg) translate3d(10px, 10px, 0px);
}

#sb2 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    -webkit-transform: rotate(0deg) translate3d(30px, 30px, 0px);
    -moz-transform: rotate(0deg) translate3d(30px, 30px, 0px);
    -o-transform: rotate(0deg) translate3d(30px, 30px, 0px);
    -ms-transform: rotate(0deg) translate3d(30px, 30px, 0px);
    transform: rotate(0deg) translate3d(30px, 30px, 0px);
}

#sb1:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: 4px solid;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#sb2:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 4px;
    width: 15px;
    z-index: 1;
    -webkit-transform: rotate(45deg) translate3d(0px, -3px, 0px);
    -moz-transform: rotate(45deg) translate3d(0px, -3px, 0px);
    -o-transform: rotate(45deg) translate3d(0px, -3px, 0px);
    -ms-transform: rotate(45deg) translate3d(0px, -3px, 0px);
    transform: rotate(45deg) translate3d(0px, -3px, 0px);
}

#sb3, #sb4 {
    position: absolute;
    top: 22px;
    right: 10px;
    width: 25px;
    height: 4px;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

#sb3 {
    -webkit-transform: rotate(45deg) translate3d(-30px, 0px, 0px);
    -moz-transform: rotate(45deg) translate3d(-30px, 0px, 0px);
    -o-transform: rotate(45deg) translate3d(3px, 0px, 0px);
    -ms-transform: rotate(45deg) translate3d(3px, 0px, 0px);
    transform: rotate(45deg) translate3d(-50px, 0px, 0px);
}

#sb4 {
    -webkit-transform: rotate(-45deg) translate3d(3px, 0px, 0px);
    -moz-transform: rotate(-45deg) translate3d(3px, 0px, 0px);
    -o-transform: rotate(-45deg) translate3d(3px, 0px, 0px);
    -ms-transform: rotate(-45deg) translate3d(3px, 0px, 0px);
    transform: rotate(-45deg) translate3d(-50px, 0px, 0px);
}
/*______________________________________________________________________________*/

#s_button:hover #sb1:after {
    border-radius: 100px;
    -webkit-transform: rotate(45deg) translate3d(-60px, 0px, 0px);
    -moz-transform: rotate(45deg) translate3d(-60px, 0px, 0px);
    -o-transform: rotate(45deg) translate3d(-60px, 0px, 0px);
    -ms-transform: rotate(45deg) translate3d(-60px, 0px, 0px);
    transform: rotate(45deg) translate3d(-60px, 0px, 0px);
}

#s_button:hover #sb1:after {
    width: 125px;
    height: 125px;
}

#s_button:hover #sb2 {
    -webkit-transform: rotate(0deg) translate3d(10px, 22px, 0px);
    -moz-transform: rotate(0deg) translate3d(10px, 22px, 0px);
    -o-transform: rotate(0deg) translate3d(10px, 22px, 0px);
    -ms-transform: rotate(0deg) translate3d(10px, 22px, 0px);
    transform: rotate(0deg) translate3d(10px, 22px, 0px);
}

    #s_button:hover #sb2:after {
        -webkit-transform: rotate(0deg) scaleX(2);
        -moz-transform: rotate(0deg) scaleX(2);
        -o-transform: rotate(0deg) scaleX(2);
        -ms-transform: rotate(0deg) scaleX(2);
        transform: rotate(0deg) scaleX(2);
    }

#s_button:hover #sb3 {
    -webkit-transform: rotate(45deg) translate3d(1.75px, -0.25px, 0px);
    -moz-transform: rotate(45deg) translate3d(1.75px, -0.25px, 0px);
    -o-transform: rotate(45deg) translate3d(1.75px, -0.25px, 0px);
    -ms-transform: rotate(45deg) translate3d(1.75px, -0.25px, 0px);
    transform: rotate(45deg) translate3d(1.75px, -0.25px, 0px);
}

#s_button:hover #sb4 {
    -webkit-transform: rotate(-45deg) translate3d(2.25px, -0.25px, 0px);
    -moz-transform: rotate(-45deg) translate3d(2.25px, -0.25px, 0px);
    -o-transform: rotate(-45deg) translate3d(2.25px, -0.25px, 0px);
    -ms-transform: rotate(-45deg) translate3d(2.25px, -0.25px, 0px);
    transform: rotate(-45deg) translate3d(2.25px, -0.25px, 0px);
}
/*______________________________________________________________________________*/
/*______________________________________________________________________________*/
    #mb1, #mb2, #mb3 {
        position: absolute;
        width: 30px;
        height: 4px;
    }

        #mb1:after, #mb2:after, #mb3:after {
            position: absolute;
            content: '';
            top: 0px;
            left: 0px;
            width: 10px;
            height: 4px;
            background-color: #bbb;
            -webkit-transform: scaleX(3);
            -moz-transform: scaleX(3);
            -o-transform: scaleX(3);
            -ms-transform: scaleX(3);
            transform: scaleX(3);
            
        }
        /*______________________________________________________________________________*/


        /*______________________________________________________________________________*/
        #mb1.mnorm {
            top: 10px;
            left: 10px;
            transition-delay: 0.2s;
            -webkit-transform: translate3d(0px, 0px, 0px);
            -moz-transform: translate3d(0px, 0px, 0px);
            -o-transform: translate3d(0px, 0px, 0px);
            -ms-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
        }

        #mb2.mnorm {
            top: 22px;
            left: 10px;
            transition-delay: 0.1s;
            -webkit-transform: translate3d(0px, 0px, 0px);
            -moz-transform: translate3d(0px, 0px, 0px);
            -o-transform: translate3d(0px, 0px, 0px);
            -ms-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
        }

        #mb3.mnorm {
            top: 34px;
            left: 10px;
            transition-delay: 0.2s;
            -webkit-transform: translate3d(0px, 0px, 0px);
            -moz-transform: translate3d(0px, 0px, 0px);
            -o-transform: translate3d(0px, 0px, 0px);
            -ms-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
        }
    /*______________________________________________________________________________*/

    #m_button:hover #mb1.mnorm {
        top: 10px;
        -webkit-transform: translate3d(0px, 12px, 0px);
        -moz-transform: translate3d(0px, 12px, 0px);
        -o-transform: translate3d(0px, 12px, 0px);
        -ms-transform: translate3d(0px, 12px, 0px);
        transform: translate3d(0px, 12px, 0px);
        transition-delay: 0s;
    }

    #m_button:hover #mb2.mnorm {
        top: 22px;
        -webkit-transform: rotate(90deg) translate3d(-12px, -16.5px, 0px);
        -moz-transform: rotate(90deg) translate3d(-12px, -16.5px, 0px);
        -o-transform: rotate(90deg) translate3d(-12px, -16.5px, 0px);
        -ms-transform: rotate(90deg) translate3d(-12px, -16.5px, 0px);
        transform: rotate(90deg) translate3d(-12px, -16.5px, 0px);
        transition-delay: 0.1s;
    }

    #m_button:hover #mb3.mnorm {
        top: 34px;
        -webkit-transform: translate3d(50px, 0px, 0px);
        -moz-transform: translate3d(50px, 0px, 0px);
        -o-transform: translate3d(50px, 0px, 0px);
        -ms-transform: translate3d(50px, 0px, 0px);
        transform: translate3d(50px, 0px, 0px);
        transition-delay: 0s;
    }

    /*______________________________________________________________________________*/
    /*______________________________________________________________________________*/
    #mb1.mact {
        top: 10px;
        left: 10px;
        transition-delay: 0.2s;
        -webkit-transform: translate3d(3px, 0px, 0px);
        -moz-transform: translate3d(3px, 0px, 0px);
        -o-transform: translate3d(3px, 0px, 0px);
        -ms-transform: translate3d(3px, 0px, 0px);
        transform: translate3d(3px, 0px, 0px);
    }

        #mb1.mact:after {
            -webkit-transform: rotate(45deg) scaleX(3.7);
            -moz-transform: rotate(45deg) scaleX(3.7);
            -o-transform: rotate(45deg) scaleX(3.7);
            -ms-transform: rotate(45deg) scaleX(3.7);
            transform: rotate(45deg) scaleX(3.7);
        }

    #mb2.mact {
        top: 22px;
        left: 10px;
        -webkit-transform: translate3d(50px, 0px, 0px);
        -moz-transform: translate3d(50px, 0px, 0px);
        -o-transform: translate3d(50px, 0px, 0px);
        -ms-transform: translate3d(50px, 0px, 0px);
        transform: translate3d(50px, 0px, 0px);
        transition-delay: 0.1s;
    }
    #mb3.mact {
        top: 34px;
        left: 10px;
        -webkit-transform: translate3d(3px, 1px, 0px);
        -moz-transform: translate3d(3px, 1px, 0px);
        -o-transform: translate3d(3px, 1px, 0px);
        -ms-transform: translate3d(3px, 1px, 0px);
        transform: translate3d(3px, 1px, 0px);
        transition-delay: 0.2s;
    }

        #mb3.mact:after {
            -webkit-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -o-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
            -webkit-transform: rotate(-45deg) scaleX(3.7);
            -moz-transform: rotate(-45deg) scaleX(3.7);
            -o-transform: rotate(-45deg) scaleX(3.7);
            -ms-transform: rotate(-45deg) scaleX(3.7);
            transform: rotate(-45deg) scaleX(3.7);
        }
    /*______________________________________________________________________________*/

    #m_button:hover #mb1.mact {
        top: 10px;
        left: 10px;
        -webkit-transform: translate3d(0px, 11.25px, 0px);
        -moz-transform: translate3d(0px, 11.25px, 0px);
        -o-transform: translate3d(0px, 11.25px, 0px);
        -ms-transform: translate3d(0px, 11.25px, 0px);
        transform: translate3d(0px, 11.25px, 0px);
        transition-delay: 0.2s;
    }

        #m_button:hover #mb1.mact:after {
            -webkit-transform: rotate(45deg) scaleX(2.55);
            -moz-transform: rotate(45deg) scaleX(2.55);
            -o-transform: rotate(45deg) scaleX(2.55);
            -ms-transform: rotate(45deg) scaleX(2.55);
            transform: rotate(45deg) scaleX(2.55);
            transition-delay: 0.2s;
        }

    #m_button:hover #mb2.mact {
        top: 22px;
        left: 10px;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
        transition-delay: 0.1s;
    }
    #m_button:hover #mb3.mact {
        top: 34px;
        left: 10px;
        -webkit-transform: translate3d(-2.75px, -10px, 0px);
        -moz-transform: translate3d(-2.75px, -10px, 0px);
        -o-transform: translate3d(-2.75px, -10px, 0px);
        -ms-transform: translate3d(-2.75px, -10px, 0px);
        transform: translate3d(-2.75px, -10px, 0px);
        transition-delay: 0.2s;
    }

        #m_button:hover #mb3.mact:after {
            -webkit-transform: rotate(-45deg) scaleX(2.55);
            -moz-transform: rotate(-45deg) scaleX(2.55);
            -o-transform: rotate(-45deg) scaleX(2.55);
            -ms-transform: rotate(-45deg) scaleX(2.55);
            transform: rotate(-45deg) scaleX(2.55);
            -webkit-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
            transition-delay: 0.2s;
        }
    /*______________________________________________________________________________*/

