h1, h2, h3, h4, h5, p, .cont_p, .cont_block {
    position: relative;
    z-index: 2;
}

h1 {
    padding: 0.5rem;
    padding-right: 30px;
    display: inline;
    box-decoration-break: clone;
    font-size: 4.5rem;
    line-height: 5rem;
    font-weight: 100;
    margin-bottom: 0rem;
}

.h_block {
    display: block;
    margin-bottom: 1rem;
}

h2 {
    padding: 1rem;
    display: inline;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 200;
    margin-bottom: 1rem;
}
