   












     /*----------------------------------------------COLORS------------------------------------------------------*/
        /*----------------------------------------------BG COL------------------------------------------------------*/
@media screen {
    #s_input {
        background-color: rgba(0,0,0,0);
    }

    #scroll_tipp:before, #navi, #m_button, #s_button {
        background-color: #111;
    }

    body, div.table:after, #s1:before, #s3:before, #s4:after, #s5:before, footer h2, .igc {
        background-color: #aaa;
    }

    #navi > a:hover, #s_underline, #s2:before, #s4:before {
        background-color: #bbb;
    }

    #sb2:after, #s_bar, #mb1:after, #mb2:after, #mb3:after {
        background-color: #aaa;
    }

    #mb1.mact:after, #mb2.mact:after, #mb3.mact:after, .cont_p a.a_color, .cont_block a {
        background-color: #990011;
    }

        #sb3, #sb4, #s_button:hover #sb2:after, #m_button:hover #mb1.mact:after, #m_button:hover #mb2.mact:after, #m_button:hover #mb3.mact:after, .cont_p a.a_color:hover, .cont_block a:hover, .igc.igl a:hover {
            background-color: #5708a6;
        }
    /*----------------------------------------------TXTCOL------------------------------------------------------*/

    #navi, #navi > a {
        color: #aaa;
    }

        #navi > a:hover, section, footer, #s1, #s2, #s4, #s3, #s5, .cont_p a.a_color:hover, .cont_block a:hover, .igc.igl a:hover, .igc.igi:hover div.igd, .igc.igi div.igd {
            color: #111;
        }

    #s_bar, .cont_p a.a_color, .cont_block a {
        color: #111;
    }

    h1 {
        color: #990011;
    } 

    h2, section:nth-of-type(2n) h2 {
        color: #5708a6;
    }
    /*----------------------------------------------Border - COL------------------------------------------------------*/
    #navi > a:before {
        border-color: #111;
    }

    .igc, .igc.igl a:hover:before, .igc.igi:hover div.igd:before {
        border-color: #111;
    }

        #navi > a:hover:before, .cont_p a.a_color:hover:before, .cont_block a:hover:before {
            border-color: #111;
        }

    #sb1:after {
        border-color: #aaa;
    }

    #s_button:hover #sb1:after {
        border-color: #eee;
    }

    #scroll_tipp:after {
        border-color: #111;
    }
    /*----------------------------------------------Adjustments------------------------------------------------------*/
    .cont_block a {
        color: #eee;
    }
        .cont_block a:hover {
            color: #eee;
        }
            .cont_block a:hover:before {
                border-color: #eee;
            }
}
          /*----------------------------------------------END COL------------------------------------------------------*/


@media print {
    h1 {
        color: #f79c00;
    }

    h2 {
        color: #000;
    }
    p, .cont_p a, .cont_block a {
        color: #000;
    }

        .cont_p a:after, .cont_block a:after {
            border-color: #000;
        }
    .cont_p img {
        border-color: #111;
    }
}
