//- needed for Content Sections
include ../mixins/mixinContentSection

<!-- Footer -->
+sectionContent("Kontakt", "Lorem ipsum")#footer
	<!--<div class="cont_p">-->
	<!-- Dieser DIV Container ist genauso formatiert wie p in den anderen Sections -->
	p Copyright © 2014 von Adrian Kiesthardt. Alle Rechte vorbehalten. Kontakt: Zum wilden Stein 1 - 36381 Schlüchtern