// Import of Used Mixin-Styles
@import './mixins/mixinContentSection';

@media screen {
	.h_block {
	    display: block;
	    margin-bottom: 1rem;
	}
	footer h2 {
		background-color: #111;
	}
	footer {
		color: #eee;
	}
}