//- module MENU

nav(id="navi" class="active")
        <!-- Navigation -->
        #menu
            #m_button
                #mb1(class="mact")
                #mb2(class="mact")
                #mb3(class="mact")
            img(src="images/white_on_void.png" alt="Digihome" id="logo")

        a(href="index.html") Home 
            img(src="images/home.png")
        a(href="shop.html") Shop
            img(src="images/bag.png")
        a(href="packages.html") Komplettpakete
            img(src="images/box.png")
        a(href="underconstruction.html") Konfigurator
            img(src="images/conf.png")
        a(href="cart.html") Warenkorb
            img(src="images/basket.png")
        a(href="contact.html") Kontakt
            img(src="images/mail.png")
        #search
            #s_bar(class="s_active")
                input#s_input
                #s_underline
            #s_button
                #sb1(class="sact")
                #sb2(class="sact")
                #sb3(class="mact")
                #sb4(class="mact")