//- mixin tiles for presenting tiles on a page
//- How to use:
//- +tableCell("some-title")
//- 	a.a_table(href="some-link") some-text

mixin tableCell(title)
	.cont_table_col
		.cont_table_cell
			p!= title
		.cont_table_cell
			block
