//- index.jade
extends templates/default

//- needed for Content Sections
include mixins/mixinContentSection

include mixins/mixinTable

//- needed for Image Sections
include mixins/mixinImageSection

//- needed for tiles
include mixins/mixinTile

prepend styles
    link(rel="stylesheet", href="./css/index.css")

block content
    +sectionImage("p1_bg_img")(id="p1_bg", class="p1_dhp2")
    +sectionContent("DHP2", "Das Panel für alle Fälle")#s1
        p
            Dieses Panel passt perfekt zum Digital Home Server DHS2.

    +sectionTable("Übersicht", "Technisch")
        +tableCell("Reaktionszeit")
            p 2ms
        +tableCell("Auflösung")
            p 7.680 x 4.320 Pixel (8k)
        +tableCell("Interfaces")
            p LAN, DVI-D, HDMI
        +tableCell("Zubehör")
            p 20W Netzteil
    +sectionContentDouble("Eindrücke", "Optisch")#s1

        +tileNL("images/hom1.jpg")(class="tile dhdw")
        +tileNL("images/hom4.jpg")(class="tile dhdw")
        +tileNL("images/hom5.jpg")(class="tile dhdw")



block scripts
    script(src="./scripts/index.js")