//- index.jade
extends templates/default

//- needed for Content Sections
include mixins/mixinContentSection

include mixins/mixinTable

//- needed for Image Sections
include mixins/mixinImageSection

//- needed for tiles
include mixins/mixinTile

prepend styles
    link(rel="stylesheet", href="./css/index.css")

block content
    +sectionImage("p1_bg_img")(id="p1_bg", class="p1_dhsx80")
    +sectionContent("DHSX80", "Extreme Server")#s1
        p
            Der DHSX80 ist perfekt für Echtzeitrendering geeignet und kann Kreativen helfen, unabhängig von Ort und Zeit an ihren Projekten weiterzuarbeiten.

    +sectionTable("Übersicht", "Technisch")
        +tableCell("CPU")
            p 3x Intel Xeon 8x3.9Ghz
        +tableCell("RAM")
            p 128GB DDR5 1600Mhz
        +tableCell("Grafik")
            p 2x NVidia Geforce GTX Titan Z
        +tableCell("Speicher")
            p 3x 1008GB Seagate SSHDD
        +tableCell("PCIe")
            p 2x Digital Home 10G/1G LAN
        +tableCell("Interfaces")
            p 2x LAN, 1x HDMI, 4x DVI-D, 2x Line-out, 12x USBremote3.0
        +tableCell("Zubehör")
            p 2000W Netzteil, 2x 30Meter USBremote3.0 Kabel
    +sectionContentDouble("Eindrücke", "Optisch")#s1

        +tileNL("images/server05.jpg")(class="tile dhdw")

        +tileNL("images/server06.jpg")(class="tile dhdw")




block scripts
    script(src="./scripts/index.js")