//- err404.jade
extends templates/default

//- needed for Content Sections
include mixins/mixinContentSection

prepend styles
    link(rel="stylesheet", href="./css/err.css")

block content
    #err_bg
        canvas(id="sunset")
            #p1_bg_img
        #skyline1
        #skyline2
        #skyline3
        #skyline4
        .cont_block#err_block
            .h_block
                h1 Wir bauen
            h2 für Sie
            
block footer
    <!-- No footer -->