//- index.jade
extends templates/default

//- needed for Content Sections
include mixins/mixinContentSection

//- needed for Image Sections
include mixins/mixinImageSection

//- needed for tiles
include mixins/mixinTile

prepend styles
    link(rel="stylesheet", href="./css/index.css")

block content
    +sectionImage("p1_bg_img")#p1_bg
    +sectionContent("4294967296 Farben", "auf einem Bildschirm")#s1
        p
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

    +sectionContentDouble("Unsere Produkte", "unsere Produkte")#s4
        +tile("details.html", "images/blurred/photography1.png")(class="igc igi dhdw")
            | TV Panels
        +tile("details.html", "images/blurred/photography1.png")(class="igc igi")
            | TV Panels
        +tile("details.html", "images/blurred/photography1.png")(class="igc igi")
            | TV Panels
        +tile("details.html", "images/blurred/photography1.png")(class="igc igi nhdw")
            | TV Panels
        +tile("details.html", "images/blurred/photography1.png")(class="igc igi dhdw")
            | TV Panels
        +tile("details.html", "images/blurred/photography1.png")(class="igc igi")
            | TV Panels
        +tile("details.html", "images/blurred/photography1.png")(class="igc igi")
            | TV Panels