// Import of Template SCSS-File
@import './templates/default';

// Import of Used Mixin-Styles
@import './mixins/mixinTile';
@import './mixins/mixinContentSection';

// Index.jade Styles

#p1_bg {
    /*
        Page 1 background image container. Acts like a section.
        */
    width: 50vw;
    height: 100vh;
    display: table-cell;
    position: relative;
}

#p1_bg_img {
    /*
        The actual parallax image div.
        */
    position: relative;
    top: 0%;
    left: 50px;
    height: 100%;
    width: 110%;
    z-index: -1;
    
    &:after {
        /*
            Finaly the actual parallax image. Took the background
            image method because of "background-size: cover;" feature.
            */
        content: '';
        position: absolute;
        top: 0%;
        left: 0%;
        bottom: 0%;
        right: 0%;
        opacity: 1;
        background-image: url("../bilder/hall1.png");
        background-size: cover;
        background-position: center;
    }
}