//- index.jade
extends templates/default

//- needed for Content Sections
include mixins/mixinContentSection

//- needed for Image Sections
include mixins/mixinImageSection

//- needed for tiles
include mixins/mixinTile

prepend styles
    link(rel="stylesheet", href="./css/index.css")

block content
    +sectionImage("p1_bg_img")(id="p1_bg", class="p1_home")
    +sectionContent("Zeitlos Zukunft", "von jedem Punkt in ihrem Haus")#s1
        p
            Das einzigartige Digital Home Prinzip vereint Accessibility mit Usability. Ab jetzt schleppen Sie nicht mehr Ihren Laptop durch Ihr Haus und müssen sich auch nicht mehr zum Arbeiten in Ihr kaltes Schalfzimmer setzen. Ab jetzt sitzt Ihr Computer im kalten Schlafzimmer. Und Sie kriegen alles direkt auf Ihren Bildschirm im Wohnzimmer, Keller, Garten oder Dachboden.
    +sectionContentImage("images/trust2.jpg")
    +sectionContent("Die US Army", "vertraut auf unsere technische Überlegenheit")
        p
            "Weil Digital Home das einzige Unternehmen weltweit ist, das zentral verwaltete, transparente und gebogene 16k 3D HUDs bauen kann."
    +sectionContentImage("images/trust1.jpg")
    +sectionContent("Die mächtigsten Männer der Welt", "hängen von unseren Produkten ab")
        p
            "Digital Home hat uns geholfen, unsere Arbeit zentral zu koordinieren und vor Angriffen aus dem Netz zu schützen. Das beste daran: Wir sparen noch Geld"





block scripts
    script(src="./scripts/index.js")